@use "@/styles/common" as *;
//

.ViewCode_button {
    @include font-fancy;
    font-size: 18px;
    font-weight: 789;
    // letter-spacing: 0.03em;
    // text-transform: uppercase;
    white-space: pre;
}

.content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}

.always_visible_text {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}

.expandable {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 0px;
    height: 100%;
    overflow: hidden;

    transition:
        opacity 0.32s ease-in-out,
        width 0.32s cubic-bezier(0.65, 0, 0.35, 1); // ease-in-out-cubic
}

.ViewCode_button._hover .expandable {
    width: auto;
}

.expandable_text {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;

    font-weight: 678;
}

.smaller_text {
    font-size: 0.84em;
}
