@use "@/styles/common" as *;
//
//

.UI {
    z-index: 100;
    position: fixed;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;

    background-position: center center;
    background-size: auto;
    background-repeat: repeat;

    background-color: #080809;

    @include font_sans;
}

.intro_wrap {
    z-index: 103;
    position: fixed;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.renderer_2d_wrap {
    z-index: 101;
    position: fixed;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.renderer_3d_wrap {
    z-index: 102;
    position: fixed;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.floaters {
    display: flex;
    flex-flow: center nowrap;
    justify-content: center;
    align-items: center;
    width: 0;
    height: 0;

    opacity: 0;

    &._visible {
        opacity: 1;
        transition: opacity 1.28s cubic-bezier(0.85, 0, 0.15, 1); // ease: circ: in-out
    }
}

.floater {
    z-index: 200; // default -> override for specific elements if needed
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}

.floater_bottom_left {
    bottom: 11px;
    left: 11px;
}

.floater_top_right {
    top: 11px;
    right: 11px;
}

.desktop_only {
    display: none;
}
.mobile_only {
    display: unset;
}

//

@media (width >= 768px) {
    .desktop_only {
        display: unset;
    }
    .mobile_only {
        display: none;
    }
}
