@use "@/styles/common" as *;
//
//

.Intro {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.intro_text {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    opacity: 0;
    transition: opacity var(--hide-duration) ease-in-out;

    &._visible {
        opacity: 1;
    }
}

.intro_text_styled {
    display: block;
    text-align: center;
    @include font-fancy;
    // font-size: 48px;
    // letter-spacing: 0.03em;
    font-size: 21px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    font-weight: 100;

    &._spacing_active {
        letter-spacing: 0.32em;
        font-weight: 900;
        transition:
            letter-spacing 2s linear,
            font-weight 2s linear; // default duration, overridden in React
    }
}

.character {
    display: inline;
    opacity: 0;

    &._visible {
        opacity: 1;
        transition: opacity 0.48s ease-in-out;
    }
}
